* {
    margin: 0;
    padding: 0;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.overlay h1 {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    text-align: center;
}

.open-letter-btn {
    position: absolute;
    bottom: 16px;
    margin: 32px;
    padding: 16px;
    font-size: 72px;
}

.letter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: beige;
    padding: 28px;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

.letter-header {
    display: block;
    margin-bottom: 16px;
    margin-left: -12px;
}

.reply-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 96px;
}